@import url(https://fonts.googleapis.com/css?family=Francois+One|Source+Serif+Pro);
body { margin: 0 auto; padding: 0; font-family: 'Source Serif Pro', serif; font-family: 'Francois One', sans-serif; }

.carousel-cell { width: 100%; /* full width */ min-height: 250px; height: 90vh; /* height of carousel */ margin-right: 10px; background-size: cover; background-position: top; }

.container { max-width: 1200px; margin: auto; text-align: center; }

h1 { font-size: 48px; color: #fcf1e3; text-shadow: 2px 2px #444; }
